{% extends "base.html" %}

{% block title %}
  {% if form.instance.pk %}
    Редактирование поста
  else %}
    Создание поста
  {% endif %}
{% endblock %}

{% block content %}
  <h1>
    {% if form.instance.pk %}
      Редактировать пост
    {% else %}
      Создать новый пост
    {% endif %}
  </h1>
  
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить</button>
  </form>
  
  <a href="{% url 'blog:profile' user.username %}">Назад в профиль</a>
{% endblock %}