{% extends "base.html" %}

{% block title %}
{{ post.title }} | {% if post.location and post.location.is_published %}{{ post.location.name }} |{% endif %} {{ post.pub_date|date:"d E Y" }}
{% endblock %}

{% block content %}
  <article>
    <p>
      {{ post.pub_date|date:"d E Y" }} |
      {% if post.location and post.location.is_published %}
        {{ post.location.name }}
      {% else %}
        Плaнета Земля
      {% endif %}
      <br>
      <small>
        От автора @{{ post.author.username }} в категории
        {% include "includes/category_link.html" %}
      </small>
    </p>

    <h3>{{ post.title }}</h3>
    <p>{{ post.text|linebreaksbr }}</p>
  </article>

  <hr>

  <section>
    <h3>Комментарии</h3>

    {% for comment in comments %}
      <div style="margin-bottom: 10px;">
        <b>@{{ comment.author.username }}</b><br>
        <p>{{ comment.text }}</p>
        <small>{{ comment.created_at }}</small>
      </div>
    {% empty %}
      <p>Комментариев пока нет</p>
    {% endfor %}

    {% if user.is_authenticated %}
      <hr>
      <h4>Добавить комментарий</h4>

      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
      </form>
    {% else %}
    {% if user == comment.author %}
      <a href="{% url 'blog:edit_comment' post.id comment.id %}">Редактировать</a>
      <a href="{% url 'blog:delete_comment' post.id comment.id %}">Удалить</a>
    {% endif %}
      <p>Чтобы оставить комментарий — войдите в аккаунт</p>
    {% endif %}
  </section>

{% endblock %}